@import url(https://fonts.googleapis.com/css?family=Roboto);

$orange: #FF7F00;
$nav-grey: #777;
$white: #FBFBFB;
$line-grey: #999;

// Font sizes
$standardSize: 13px;
$standardLHeight: 20px;
$headerTextSize: 20px;
$headerTextLHeight: 24px;
$headerTextSizeSmaller: 12px;
$headerTextLHeightSmaller: 16px;
$elementTitleSize: 20px;

html{
  font-family: 'Open Sans', sans-serif;
}

body{
  font-size: $standardSize;
}

.center{
  text-align: center;
  margin:auto;
}

@import './header';
