@import "normalize";
@import "grid";
@import "themes/default/master";

$orange: #FF7F00;
$grey: #333;

a, a:visited {
	text-decoration: none;

	&:hover{
      color: $orange;
      text-decoration: none;
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out;
      -ms-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
	}

	&.active{
      color: $orange;
      text-decoration: none;
    }

}

body {
  position: relative;
  margin:30px;
  font-size: 16px;
  color:#222;
}

h1 {
  font-family: 'Poiret One', cursive;
  color:#333;
  text-align: center;
}

h2 {
  font-family: 'Poiret One', cursive;
  color:#333;
  text-align: center;
}

h3 {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

img {
  max-width: 100%;
}

#center{
  text-align: center;
}
.center{
  text-align: center;
}
.tab-content{
  padding-top:70px;
}
.img-responsive{
  max-width: 15vw;
  margin: auto;
}
.content-box{
  max-width: 1000px;
  margin: auto;
  padding-top: 30px;
}
.container-fluid{
  background-color: #FBFBFB;
}
.link{
  color:#FF7F00;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.front-img{
  min-width:170px;
}
.link:hover{
  color:#222;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

.navigation{
  font-family: 'Poiret One', cursive;
  color:#777;
  font-size: 2.5vw;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.content-box{
  max-width: 1000px;
  margin: auto;
  padding-top: 30px;
}